# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
Chess/Debug/vc120.pdb
Chess/Debug/Chess.tlog/unsuccessfulbuild
Chess/Debug/vc120.idb
Chess.opensdf
Chess.v12.suo
Chess/Debug/Chess.log
Chess/Debug/Chess.tlog/CL.read.1.tlog
Chess/Debug/Chess.tlog/CL.write.1.tlog
Chess/Debug/Chess.tlog/Chess.lastbuildstate
Chess/Debug/Chess.tlog/cl.command.1.tlog
Chess/Debug/Chess.tlog/link.command.1.tlog
Chess/Debug/Chess.tlog/link.read.1.tlog
Chess/Debug/Chess.tlog/link.write.1.tlog
Debug/Chess.ilk
Debug/Chess.pdb
*.orig
Chess/slot no 1.xml
Chess/slot no 2.xml
Chess/Chess.vcxproj.user
Chess/My Amplifier XE Results - Chess/My Amplifier XE Results - Chess.amplxeproj
Chess/My Amplifier XE Results - Chess/r000hs/.norun
Chess/My Amplifier XE Results - Chess/r000hs/config/analysis_type.cfg
Chess/My Amplifier XE Results - Chess/r000hs/config/collection.cfg
Chess/My Amplifier XE Results - Chess/r000hs/config/context_values.cfg
Chess/My Amplifier XE Results - Chess/r000hs/config/log.cfg
Chess/My Amplifier XE Results - Chess/r000hs/config/runss.options
Chess/My Amplifier XE Results - Chess/r000hs/config/state.cfg
Chess/My Amplifier XE Results - Chess/r000hs/config/viewpoint.cfg
Chess/My Amplifier XE Results - Chess/r000hs/config/viewpoint_processed.cfg
Chess/My Amplifier XE Results - Chess/r000hs/data.0/1088-2764.0-2364.0.cs
Chess/My Amplifier XE Results - Chess/r000hs/data.0/1088-2764.0-2364.0.th
Chess/My Amplifier XE Results - Chess/r000hs/data.0/1088-2764.0-2364.0.th.aux
Chess/My Amplifier XE Results - Chess/r000hs/data.0/1088-2764.0-432.0.cs
Chess/My Amplifier XE Results - Chess/r000hs/data.0/1088-2764.0-432.0.th
Chess/My Amplifier XE Results - Chess/r000hs/data.0/1088-2764.0-432.0.th.aux
Chess/My Amplifier XE Results - Chess/r000hs/data.0/1088-2764.0-6504.0.cs
Chess/My Amplifier XE Results - Chess/r000hs/data.0/1088-2764.0-6504.0.th
Chess/My Amplifier XE Results - Chess/r000hs/data.0/1088-2764.0-6504.0.th.aux
Chess/My Amplifier XE Results - Chess/r000hs/data.0/1088-2764.0-8400.0.cs
Chess/My Amplifier XE Results - Chess/r000hs/data.0/1088-2764.0-8400.0.th
Chess/My Amplifier XE Results - Chess/r000hs/data.0/1088-2764.0-8400.0.th.aux
Chess/My Amplifier XE Results - Chess/r000hs/data.0/1088-2764.0.trace
Chess/My Amplifier XE Results - Chess/r000hs/data.0/1088-2764.0.trace.aux
Chess/My Amplifier XE Results - Chess/r000hs/data.0/systemcollector-HAIMSA1-TP.haifa.ibm.com.sc
Chess/My Amplifier XE Results - Chess/r000hs/r000hs.amplxe
Chess/My Amplifier XE Results - Chess/r000hs/sqlite-db/dicer.db
Chess/My Amplifier XE Results - Chess/r000hs/sqlite-db/grouper.metadata
Chess/Chess.vcxproj.user
