# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
Chess/Debug/vc120.pdb
Chess/Debug/Chess.tlog/unsuccessfulbuild
Chess/Debug/vc120.idb
Chess.opensdf
Chess.v12.suo
Chess/Debug/Chess.log
Chess/Debug/Chess.tlog/CL.read.1.tlog
Chess/Debug/Chess.tlog/CL.write.1.tlog
Chess/Debug/Chess.tlog/Chess.lastbuildstate
Chess/Debug/Chess.tlog/cl.command.1.tlog
Chess/Debug/Chess.tlog/link.command.1.tlog
Chess/Debug/Chess.tlog/link.read.1.tlog
Chess/Debug/Chess.tlog/link.write.1.tlog
